* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    color: tomato;
    background-color: teal;
    border-radius: 15px;
    padding: 10px;
    margin: 30px auto;
    display: block;
    text-align: center;
    font-family: monospace;
}

p {
    box-shadow: inset 3px 3px 5px gray;
    padding: 20px;
    margin: 10px auto;
    display: block;
}